<% provide(:title, 'О проекте Спортнэ') %>
<h1>О проекте Спортнэ</h1>
<p>
  Боли в спине в мои 30-ть с небольшим лет меня мучают уже более 10 лет. Для решения проблемы со спиной я изучал разлинчые методики: бубновского, пилатес, гимнастику ходу, йогу, бассейн, бег, подтягивание, отжимания и прочее... но порой силы воли не хватает, ты сдаешься, расслабляешься и спина начинает опять болеть.
</p>
<p>
  Таким образом самое главное мотивация. И чтобы была мотивация я сделал портал - социальную сеть для тех, кто хочет иметь здоровую спину.
</p>
<p>
	С Уважением, Михаил Клишевич.
</p>
