<% provide(:title, 'О проекте Спортнэ') %>
<h1>О проекте Спортнэ</h1>
<p>
  Боли в спине в мои 30-ть с небольшим лет меня мучают уже более 10 лет. Для решения проблемы я изучал разлинчые методики: бубновского, пилатес, гимнастику ходу, йогу, бассейн, бег, подтягивание, отжимания и прочее... но порой силы воли не хватает, ты сдаешься, расслабляешься и спина начинает опять болеть.
</p>
<p>
  Таким образом самое главное мотивация. Мотивировать могут только люди с подобными проблемами и целями. Теперь вы не одни есть портал Спортнэ - социальную сеть для тех, кто хочет иметь здоровую спину.
</p>
<p>
	С Уважением, Михаил Клишевич.
</p>
