<% provide(:title, 'О проекте Спортнэ') %>
<h1>О проекте Спортнэ</h1>
<div class="img">
<%= image_tag("klisha.jpg", alt: "Клишевич Михаил")%>
</div>
<p>
  Боли в спине в мои 30-ть с небольшим лет меня беспокоят уже более 10 лет. Для решения проблемы я изучал различные методики: бубновского, пилатес, гимнастику ходу, йогу, бассейн, бег, подтягивание, отжимания и прочее... но порой силы воли не хватает, ты сдаешься, расслабляешься и спина начинает опять болеть.
</p>
<p>
  Я пришел к выводу, что самое главное мотивация. Мотивировать могут только люди с подобными проблемами и целями. Для этого я создал портал Спортнэ - социальную сеть для тех, кто хочет иметь здоровую спину.
</p>
<p>
  Если для Вас здоровая спина актуально, то <%= link_to "регистрируйтесь на сайте", new_user_registration_path %>, <strong>размещайте видео, смотрите и оценивайте видео других участников, ищите друзей и единомышленников!</strong> Кто ищет тот всегда найдет, а тот кто достаточно сильно хочет иметь здоровую спину, тот будет её иметь!
</p>
<p>
	С Уважением, Михаил Клишевич.
</p>
<br/>
<p>Предложения по оптимизации сайта присылайте на <a href="mailto:for54biz@yandex.ru">for54biz@yandex.ru</a></p>
<p>Спортнэ в Социальных сетях:</p>
<ul>
	<li><a href="http://vk.com/sportne">Мы ВКонтакте</a></li>
	<li><a href="https://www.facebook.com/groups/sportne">Мы в Facebook</a></li>
</ul>
