<%if @user%>
<%= form_for([@video.user, @video, @video.comments.build], remote: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<br />
<div class="field">
  <%= f.text_field :body %> 
</div>
<div class="actions">
  <%= submit_tag "Добавить комментарий", class: "btn btn-large btn-primary" %>
</div>
<% end %>
<%end%>




