<h1>Спортнэ - упражнения для здоровой спины!</h1>
<div class="img">
<%= image_tag("girl-and-boy-390x390.jpg", alt: "Спортнэ - упражнения для здоровой спины!")%>
</div>
<p>Делайте гимнастику, смотрите видео, делитесь, находите друзей!  <%= link_to "Тут можно почитать о проекте.", about_path %></p>
